/*input.matrixinput {
	width : 55px;
	padding : 4px;
	margin : 2px;
}*/

.matrixinput4 {
	width : 30px !important;
	height: 30px !important;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
} 

input.matrixinput4{
	height: 30px !important;
}


form {
	width: 200px;
}

td, th {
	padding: 0px;
}

.content {
	width: 200px;
	padding: 10px;
}


span.katex-html {
    margin: 2em;
}

.meta.flow-text {
    font-size: 1rem !important;
  }

 .extra.content.flow-text {
    font-size: 0.9rem !important;
  }